/* styles/global.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #1da57a;
}

a:hover {
  color: #0d8c61;
}

h6 {
  color: #ffc933; /* Replace with the desired color */
}
/* Add any other global styles here */
